<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ershad Raoufi-ارشاد رئوفی">
    <meta name="generator" content="Ershad Raoufi-ارشاد رئوفی">
    <meta name="description" content="،ریز لینکو-کوتاه کننده هوشمند لینک های شما،ارائه دهنده وب سرویس های اختصاصی برای کوتاه کردن لینک ها-،ارائه آمار بازدید از لینک کوتاه شده">
    <meta name="keywords" content="ریز لینکو ، کوتاه کننده لینک، لینک ، لینک کوتاه،L2RL, l2rl,وب هوک ریزلینکو_ریزلینکو،ریزلینکو،ریزکن لینکو،لینک">
    @await RenderSectionAsync("ExtraMeta", required: false)
    
    <title>@ViewData["Title"] - ریز لینکو</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img alt="ریزلینکو" class="logo" title="ریزلینکو" src="~/logo.svg" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ریز لینکو</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a title="ریزلینکو" class="nav-link text-dark" href="/">صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a title="آمار بازدید_ریزلینکو" class="nav-link text-dark" href="/بازدید">آمار بازدید</a>
                        </li>
                        <li class="nav-item">
                            <a title="وب سرویس_ریزلینکو" class="nav-link text-dark" href="/وب سرویس_ریزلینکو">وب سرویس</a>
                        </li>
                        <li class="nav-item">
                            <a title="پلاگین_ریزلینکو" class="nav-link text-dark" href="/پلاگین_ریزلینکو">پلاگین</a>
                        </li>
                        <li class="nav-item">
                            <a title="وب هوک_ریزلینکو" class="nav-link text-dark" href="/وب هوک_ریزلینکو">وب هوک</a>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="typed-strings">
                <p>با <b style="color:purple">ریزلینکو</b>، ریز کن لینکو!  </p>
            </div>
            <h1 class="text-body center typed" style="display:inline;color:#fff"></h1>
            <hr />
            @RenderBody()
 <hr />
            <div class="row col-md-12 m-2">
                <div class="col-md-3 center">
                    <a href="/">
                        <div class="intro_box">
                            <img alt="ریزلینکو" class="logo_introduce" src="~/logo.svg" />
                            <label>کوتاه کردن هوشمند لینک ها</label>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 center">
                    <a href="/پلاگین_ریزلینکو">
                        <div class="intro_box">
                            <img alt="ریزلینکو" class="logo_introduce" src="~/logo.svg" />
                            <label>امکان استفاده از پلاگین</label>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 center">
                    <a href="/بازدید">
                        <div class="intro_box">
                            <img alt="ریزلینکو" class="logo_introduce" src="~/logo.svg" />
                            <label>مشاهده آمار بازدید لینک ها</label>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 center">
                    <a href="/وب سرویس_ریزلینکو">
                        <div class="intro_box">
                            <img alt="ریزلینکو" class="logo_introduce" src="~/logo.svg" />
                            <label>دارا بودن وب سرویس </label>
                        </div>
                    </a>
                </div>
            </div>
            <hr />
        </main>
    </div>

    <footer class="footer_custom">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-none d-md-block">
                   <p class="text-footer">تمام حقوق مادی و معنوی سایت مطعلق به ریزلینکو می  باشد</p>
                </div>
                 <div class="col-md-4">
                    <p class="text-footer">برنامه نویس و مجری طرح : <b>ارشاد رئوفی</b></p>
                </div>
                
            </div>
        </div>
    </footer>
    <a href="whatsapp://send?phone=989013136698;text=سلام روز خوش ،">
    <img class="whatsup" src="~/up.png" />
    </a>
      
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/typed.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/fontawsome.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
