@model InputLinkModel
<input type="hidden" value="@Model.Id" />
<div class="row">
    <div class="col-md-12">
        <div class="center">
        @{
            if (!string.IsNullOrEmpty(Model.Error))
            {
                
                    <h1>@Model.Error</h1>
                    <a href="/Pass/@Model.Id">سعی مجدد</a>
                
            }
            else
            {
                <h3 >لینک مورد نظر نیاز به رمزعبور دارد</h3>
                <form method="post" >
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">رمزعبور</span>
                        <input style="text-align:left" class="form-control" name="@nameof(Model.Password)" />
                        <button onclick="Submit()" type="submit" class="btn btn-success">برو به سایت</button>
                    </div>
                </form>
                <partial name="_Waiting"/>
            }
        }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        int i=0;
    </script>
}