@{
    ViewData["Title"] = "وب سرویس";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>معرفی وب سرویس های ریزلینکو</h4>
            <p>اگر یک توسعه دهنده وب هستید و یا علاقهمند به حوزه وب هستید قطعا نام وب سرویس برای شما آشنا است ،با استفاده از وب سرویس ها امکان اتصال یک برنامه تحت وب به برنامه دیگر تحت وب فراهم می شود </p>
            <p>با استفاده از وب سرویس های ریزلینکو بدون اینکه به سایت و یا App های ما مراجعه کنید  سرویس کوتاه کردن لینک را از طریق برنامه خودتان اجرا و لینک کوتاه را دریافت کنید</p>
            <hr />
        </div>
    </div>
    <div class="row center">

        <div class="col-md-4 box_web">
            <a title="مستندات وب سرویس ریزلینکو" href="/Swagger">
            <i class="fas fa-5x fa-link"></i>
            <h5>وب سرویس ساخت لینک کوتاه</h5>
            <p>با استفاده از این وب سرویس لینک  بلند خود را به ورودی داده و لینک کوتاه را از خروجی دریافت کنید</p>
       </a>
            </div>
        <div class="col-md-4"></div>
       
            <div class="col-md-4 box_web">
                 <a title="مستندات وب سرویس ریزلینکو" href="/Swagger">
                <i class="fas fa-5x fa-users"></i>
                <h5>وب سرویس آمار بازدید </h5>
                <p>با استفاده از این وب سرویس آمار بازدید لینک خود را بر اساس نوع دستگاه،سیستم عامل و مرورگر کاربر دریافت کنید</p>
             </a>
                </div>
      
    </div>
</div>
